{% extends 'main.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="main-container">
  <div class="card">
    <img class="product__thumbnail" src="{{ product.imageURL }}" alt="{{ product.title }} thumbnail"/>
    <p><strong>Price:</strong> {{ product.price|default:"0"|floatformat:0 }} pts</p>
    <p><strong>Stock:</strong> {{ product.stock_quantity }}</p>
    {% if product.thc_min or product.thc_max %}
      <p><strong>THC:</strong> {{ product.thc_min|default:"0" }}% - {{ product.thc_max|default:"0" }}%</p>
    {% endif %}
    {% if product.cbd_min or product.cbd_max %}
      <p><strong>CBD:</strong> {{ product.cbd_min|default:"0" }}% - {{ product.cbd_max|default:"0" }}%</p>
    {% endif %}
    {% if product.is_lab_tested %}
      <p><strong>Lab tested:</strong> Yes</p>
    {% endif %}
    <form action="{% url 'add-to-cart' product.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit" class="btn btn-primary">Add To Cart</button>
    </form>

    {% if product.description %}
      <hr />
      <h3>Description</h3>
      <p>{{ product.description }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
